input:valid{
    border: 2px solid black; 
    background-color: #e8f5e9;
    padding: 5px;
  }
  input:invalid{
    border: 2px dashed red;
     background-color: #ffebee;
    padding: 5px;
  }
  .error-message {
    color: red;
    font-size: 12px;
    display: none;
  }